{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" style="color: rgb(17, 167, 37);">
            <a href="/" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                <span>Previous</span>
            </a>
            Patient Record</h5>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ field.label }} :</span>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="modal-footer">
                    <button type="submit" id='agree' class="btn btn-primary" style="background-color:lightseagreen;">Predict</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#staticBackdrop").modal('toggle');
        $("#close").click(function(){
            $("#staticBackdrop").modal('toggle');
        });
    });
</script>
{% endblock body %}